<%include Partials/header %>
    <h1>Welcome <%= Name %></h1>
    <ul>
        <li><h2>Father name:</h2><%=Fname %></li>
        <li><h2>Email:</h2><%=Email %></li>
        <li><h2>Address:</h2><%=Address %></li>
        <li><h2>Age:</h2><%=Age %></li>
    </ul>

<%include Partials/footer %>